.placeholder {
    .img {
        background: #d9d9d9;
        border: none;
        position: relative;
        overflow: hidden;
    }

    .text {
        h4 {
            background: #d9d9d9;
            width: 180px;
            height: 25px;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
        }
        p {
            background: #d9d9d9;
            width: 100px;
            height: 20px;
            position: relative;
            overflow: hidden;
        }
    }

    button {
        background: #d9d9d9;
        width: 160px;
        height: 30px;
        border-radius: 20px;
        margin-top: 15px;
        position: relative;
        overflow: hidden;
    }
    button::before {
        top: 0;
        left: 0;
    }

    .img::before, .text h4::before, .text p::before, button::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);
        background-repeat: no-repeat;
        background-size: 450px 400px;
        animation: shimmer 1s linear infinite;
    }
}

@keyframes shimmer {
    0%{
      background-position: -450px 0;
    }
    100%{
      background-position: 450px 0;
    }
}